./cgra4ml/run/build/Vaxi_sys_tb__pch.h.slow.gch
./cgra4ml/run/build/Vaxi_sys_tb__pch.h.fast.gch
./cgra4ml/run/build/axi_tb_sys.vcd
./cgra4ml/run/build/Vaxi_sys_tb__ALL.a
./cgra4ml/run/build/Vaxi_sys_tb
./cgra4ml/run/resnet50.h5
